.grid-container {
    display: grid;
    border: solid rgb(138, 132, 132) 1px;
    grid-template-rows: repeat(var(--gridSize), 1fr);
    grid-template-columns: repeat(var(--gridSize), 1fr);
    height: 900px;
    width: 900px;
}

.cell {
    /*border: solid rgb(230, 229, 229) 1px;*/
   /* height: 30px;*/
}